.role-card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 30px;
  width: 260px;
  text-align: center;
  cursor: pointer;

  border: 1px solid #e0e0e0;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.role-card h3 {
  color: #2e7d32;
  margin-bottom: 12px;
  font-size: 1.3rem;
}

.role-card p {
  color: #4f6f52;
  font-size: 0.95rem;
  line-height: 1.4;
}

/* Hover effect */
.role-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 12px 25px rgba(46, 125, 50, 0.35);
}
